footer {
	background-color: $brand-color;

	.row {
	  min-height: 82px;
	}

	.footer-site-name {
		color: $main-text-color;
	}

	.footer-site-name:hover {
		color: $complementary-color;
		text-decoration: none;
	}

	.footer-icon {
		color: $main-text-color;
	}

	.footer-icon:hover {
		color: $complementary-color;
	}
  }