#header-top {
	background-color: $brand-color;

	.header-top-content {
        display: flex;
        justify-content: flex-end;

        .user-avatar-image {
            display: none;
        }

        .text-default {
            font-weight: 400;
        }

		a {
			color: $main-text-color;
			padding-left: 0.3em;
            text-decoration: none;

            svg {
                display: none;
            }
        }
        a::after {
            content: '|'
        }
	}
}