.lfr-mutual-navigation-menu {
    @include media-breakpoint-up(md) {
        display: flex;
        justify-content: end;
        padding-top: 2.5em;
        padding-left: 2em;
        a {
            color: $brand-color;
        }

        a:hover {
            color: black;
        }
    }
}

.navbar-light .navbar .navbar-collapse {
    a {
        color: $brand-color;
    }

    a:hover {
        color: black;
    }
}

.lfr-mutual-logo {
    img {
        height: 8rem;
        width: 8rem;
    }
}

.portlet-navigation .nav-pills > li > a {
	font-size: 19px;
	padding-left: 35px;
}

.search-toggle .form-group {
	margin-bottom: 6px;
	margin-right: 35px;
}

.btn-search.collapsed .icon-lens {
	font-size: 24px;
}